$color: whitesmoke;

h1,
h2 {
  color: $color;
  text-align: center;
}

#reqs {
    padding-left: 20%;
    padding-right: 20%;
}

#intro {
  text-align: center;
  background-color: aquamarine;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(https://images.unsplash.com/photo-1500485035595-cbe6f645feb1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1234&q=80);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  border-width: 3px;
  border-color: black;
  border-style: groove;
  background-color: lightblue;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 15px;
  padding: 15px;
}

#randTab, th, td {
    border: 1px solid black;
    background-color: $color;
}

#tab {
    align-self: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
